# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python build artifacts
build/
dist/
*.egg-info/

# Logs
*.log