body {
  background: #552583;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}


/* Registration */
.register-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.register-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.register-box input {
  padding: 8px;
  width: 150px;
}

.register-btn {
  background:#000000;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  margin-top: 10px;
  padding: 12px 20px;
}


/* Game Board Area */
.game-area {
  background: #fdb927;
  border: 10px solid #f9f8f8;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  width: 350px;
}


/* Start Round Button */
.start-btn {
  background: #552583;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  margin-top: 10px;
  padding: 12px 20px;
}

.start-btn:hover {
  background: #444;
}


/* Player move display */
.player-moves p {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
  margin-top: 10px;
  padding: 12px 20px;
}


/* Rock-Paper-Scissors Buttons */
.rps-btn {
  background: #552583;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  margin-top: 10px;
  padding: 12px 20px;
}

.rps-btn:hover {
  background: #444;
}

.rps-buttons {
  margin-top: 15px;
}


/* Game over */
.gameOverBox {
  background: #ffffff;
  border: 4px solid #000000;
  border-radius: 10px;
  color: #552583;
  font-weight: bold;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
}


/* Leaderboard Tables */
.leaderboard-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;               
  justify-content: center;
  margin-top: 20px;
}

.leader-table {
  background: #ffffff;
  border: 7px solid #000000;
  border-collapse: collapse;
  border-radius: 10px;
  padding: 20px;
  width: 350px;           
}

.leader-table th,
.leader-table td {
  background-color: #ffffff;
  border: 1px solid #000000;
  font-weight: bold;
  padding: 8px;
  text-align: center;       
}

.leaderboard-section {
  width: 350px;            
}

.page-controls {
  display: flex;           
  justify-content: space-between; 
  margin-top: 10px;
}

